@import '../../../styles/theme/color.sass';

.header-menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  color: $text-white;
  .header-left{
    display: flex;
    align-items: center;
    .title{
      margin-right: 20px
    }
  }
  .user-box{
    font-size: 18px;
  }
}